node_red/flows_sensehatpi.json
[{"type":"tab","id":"9040230c.6fbfe","label":"SenseHAT pos & move skull"},{"type":"tab","id":"879a5ec1.337f9","label":"IP address"},{"id":"af380220.50c8","type":"mqtt-broker","z":"9040230c.6fbfe","broker":"192.168.1.30","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3a4d13cf.e1e27c","type":"mqtt-broker","z":"9040230c.6fbfe","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"265a5782.1bf7a8","type":"mqtt-broker","z":"9040230c.6fbfe","broker":"192.168.1.51","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a4fe522b.5b01b","type":"mqtt out","z":"9040230c.6fbfe","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"af380220.50c8","x":717.5,"y":203,"wires":[]},{"id":"db6fa0b4.24906","type":"rpi-sensehat in","z":"9040230c.6fbfe","name":"","motion":true,"env":true,"stick":true,"x":132.5,"y":54,"wires":[["73381868.8cc7e8","bb975142.4468b"]]},{"id":"bb975142.4468b","type":"switch","z":"9040230c.6fbfe","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","outputs":1,"x":296.5,"y":159,"wires":[["f78ce58b.087318"]]},{"id":"1bfd51b8.e402ae","type":"rpi-sensehat out","z":"9040230c.6fbfe","name":"","x":630.5,"y":562,"wires":[]},{"id":"ec568108.13a98","type":"function","z":"9040230c.6fbfe","name":"control LED","func":"var X=(flow.get(\"X\")||4)-1;\nvar Y=(flow.get(\"Y\")||3)-1;\n\n\nif(msg.payload.key==\"LEFT\" && (X>0)){\n    X=X-1;\n}\n\nif(msg.payload.key==\"RIGHT\" && (X<7)){\n    X=X+1;\n}\nif(msg.payload.key==\"UP\" && (Y>0)){\n    Y=Y-1;\n}\nif(msg.payload.key==\"DOWN\" && (Y<7)){\n    Y=Y+1;\n}\n\nflow.set(\"X\",X+1);\nflow.set(\"Y\",Y+1);\n\nvar msg1 = { payload:\"*,*,black\" };\nvar msg2 = { payload:util.format(\"%d,%d,red\",X,Y) };\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":478.5,"y":340,"wires":[["1bfd51b8.e402ae"],["1bfd51b8.e402ae"]]},{"id":"f78ce58b.087318","type":"switch","z":"9040230c.6fbfe","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":267.5,"y":247,"wires":[["d8fc1b89.c99098","7046b819.8fb948","ec568108.13a98"]]},{"id":"7046b819.8fb948","type":"function","z":"9040230c.6fbfe","name":"control skull","func":"var    servoXMin=200; //  The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // \nvar    servoXMid=330; // 360\nvar    servoYMin=235; //\nvar     servoYMax=520; //\nvar    servoYMid=300; // 320\n\nvar increment=2;\n\nif(msg.payload.key==\"ENTER\"){\n    msg.payload=\"JAW_MOTION, 1, 1\"; \n    return msg;\n}\n\nvar SX=(flow.get(\"SX\"))||servoXMid;\nvar SY=(flow.get(\"SY\"))||servoYMid;\n\nif(msg.payload.key==\"LEFT\" && (SX>servoXMin)){\n    SX=SX-increment;\n}\n\nif(msg.payload.key==\"RIGHT\" && (SX<servoXMax)){\n    SX=SX+increment;\n}\nif(msg.payload.key==\"UP\" && (SY>servoYMin)){\n    SY=SY-increment;\n}\nif(msg.payload.key==\"DOWN\" && (SY<servoYMax)){\n    SY=SY+increment;\n}\n\nflow.set(\"SX\",SX);\nflow.set(\"SY\",SY);\n\nvar msg1 = { payload:util.format(\"SERVOS_MOVE,%d,%d,7\",SX,SY) };\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":473.5,"y":206,"wires":[["a4fe522b.5b01b"]]},{"id":"73381868.8cc7e8","type":"mqtt out","z":"9040230c.6fbfe","name":"","topic":"/sensehat/1/status","qos":"","retain":"","broker":"af380220.50c8","x":678.5,"y":115,"wires":[]},{"id":"312177c7.075608","type":"mqtt in","z":"9040230c.6fbfe","name":"","topic":"/sensepi","broker":"3a4d13cf.e1e27c","x":142.5,"y":560,"wires":[["1bfd51b8.e402ae","c6a2c509.5ed018"]]},{"id":"d8fc1b89.c99098","type":"switch","z":"9040230c.6fbfe","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","outputs":1,"x":161.5,"y":336,"wires":[["58c50dbe.1d7404"]]},{"id":"58c50dbe.1d7404","type":"exec","z":"9040230c.6fbfe","command":"/home/pi/bin/displayip.sh wlan0;sleep 7;/home/pi/bin/displayip.sh eth0","addpay":true,"append":"","useSpawn":false,"name":"getIP","x":165.5,"y":437.5,"wires":[[],[],[]]},{"id":"c6a2c509.5ed018","type":"debug","z":"9040230c.6fbfe","name":"","active":true,"console":"false","complete":"false","x":742.5,"y":424,"wires":[]},{"id":"9dcd2f20.7c0ba","type":"inject","z":"9040230c.6fbfe","name":"","topic":"","payload":"Helge","payloadType":"str","repeat":"","crontab":"","once":false,"x":133.5,"y":500,"wires":[["49878b10.be9204"]]},{"id":"49878b10.be9204","type":"template","z":"9040230c.6fbfe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","x":370.5,"y":450,"wires":[["1bfd51b8.e402ae","c6a2c509.5ed018"]]}]