node_red/flows_raspberrypi.json
[{"type":"tab","id":"8086332d.7f79d","label":"Sonar & Skull"},{"type":"tab","id":"472cf557.b8d30c","label":"Levers & tracking"},{"type":"tab","id":"6b6420fc.949be","label":"Player coming or going"},{"id":"bdf988ea.420678","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"e9b0ee1b.164f1","type":"twitter-credentials","screen_name":"@sisomm"},{"id":"f2f40b3e.0d0bf8","type":"mqtt in","name":"/arduino/2/sonar","topic":"/arduino/2/sonar","broker":"bdf988ea.420678","x":110.99999237060547,"y":35.285715103149414,"z":"8086332d.7f79d","wires":[["7cf3398a.830cc8"]]},{"id":"f99edcd9.06612","type":"switch","name":"person is close","property":"payload","rules":[{"t":"lte","v":40,"v2":0},{"t":"else"}],"checkall":"true","outputs":2,"x":509.4285659790039,"y":34.14285659790039,"z":"8086332d.7f79d","wires":[["869be270.79642","7b381c64.84c7e4"],[]]},{"id":"7cf3398a.830cc8","type":"function","name":"Get distance","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//Returns the number after the \":\"\n\ncolonpos=msg.payload.indexOf(\":\");\ntemp=msg.payload.slice(colonpos+1);\nconsole.log(temp);\nmsg.payload=temp;\nreturn msg;","outputs":1,"x":340.71428298950195,"y":36.85714149475098,"z":"8086332d.7f79d","wires":[["f99edcd9.06612"]]},{"id":"869be270.79642","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":578.5714225769043,"y":244.4285717010498,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"7b381c64.84c7e4","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":198.4285659790039,"y":199.57143211364746,"z":"8086332d.7f79d","wires":[["30642d65.cf9bd2","c6236151.39dca"]]},{"id":"30642d65.cf9bd2","type":"function","name":"Turn Left","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVOS_MOVE, 200, 235, 7\"\nreturn msg;","outputs":1,"x":396.1428756713867,"y":306.28572177886963,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"71c90ff6.8e36f","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":682.4286193847656,"y":499.9999780654907,"z":"8086332d.7f79d","wires":[]},{"id":"c6236151.39dca","type":"delay","name":"delay 2","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":107,"y":426,"z":"8086332d.7f79d","wires":[["dda216fc.225de8","98b77e1f.67488","12986cd2.ed6793","3a91ba0.fc56e46"]]},{"id":"dda216fc.225de8","type":"function","name":"laugh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LAUGH\";\n\nreturn msg;","outputs":1,"x":180.1428451538086,"y":631.0000238418579,"z":"8086332d.7f79d","wires":[["1a1ba421.e5e45c"]]},{"id":"1a1ba421.e5e45c","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":345.00000762939453,"y":576.7143020629883,"z":"8086332d.7f79d","wires":[]},{"id":"98b77e1f.67488","type":"function","name":"Jaw motion","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,3,1\"\nreturn msg;","outputs":1,"x":354.14283752441406,"y":426.2857151031494,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"12986cd2.ed6793","type":"delay","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":100.71428680419922,"y":704.9999704360962,"z":"8086332d.7f79d","wires":[["8a3fd4db.75c028","7c89215d.8376e"]]},{"id":"8a3fd4db.75c028","type":"function","name":"Turn Back","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVOS_MOVE, 360, 320, 7\"\nreturn msg;","outputs":1,"x":304.0000114440918,"y":704.2856845855713,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"7c89215d.8376e","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":102.85714340209961,"y":851.4285659790039,"z":"8086332d.7f79d","wires":[["45943504.ba6bcc"]]},{"id":"45943504.ba6bcc","type":"function","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":298.5714225769043,"y":851.4285831451416,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"3badbf61.c4524","type":"inject","name":"distance: 30","topic":"/arduino/2/sonar","payload":"ping: 40","payloadType":"string","repeat":"","crontab":"","once":false,"x":114.28571428571428,"y":92.85714285714285,"z":"8086332d.7f79d","wires":[["7cf3398a.830cc8"]]},{"id":"3a91ba0.fc56e46","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":262.8571243286133,"y":501.4285717010498,"z":"8086332d.7f79d","wires":[["6390ff3c.9c6f"]]},{"id":"6390ff3c.9c6f","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":407.1428527832031,"y":500.00000047683716,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"aabe5e5f.5541a","type":"function","name":"Turn right","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVOS_MOVE, 200, 235, 7\";\nreturn msg;","outputs":1,"x":398.57143783569336,"y":235.71429538726807,"z":"8086332d.7f79d","wires":[[]]},{"id":"ebc5d47a.143a28","type":"mqtt in","name":"","topic":"/minecraft/+/skull/#","broker":"bdf988ea.420678","x":100.42857360839844,"y":73.42856788635254,"z":"6b6420fc.949be","wires":[["8b0a2955.74f5d8"]]},{"id":"8b0a2955.74f5d8","type":"switch","name":"Coming or going?","property":"payload","rules":[{"t":"cont","v":"COMPANY"},{"t":"cont","v":"ALONE"}],"checkall":"true","outputs":2,"x":327.1428527832031,"y":166.14285850524902,"z":"6b6420fc.949be","wires":[["14cfe665.eb301a","3d211ddd.c2dee2"],["403ee1e.fbfc12","3297397a.cd68c6"]]},{"id":"6aeef1ef.95111","type":"function","name":"Say Hello","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"HELLO\"\nreturn msg;","outputs":1,"x":844.8572196960449,"y":38.57143020629883,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884"]]},{"id":"9e77c3c2.61884","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":1094.428565979004,"y":428.00003814697266,"z":"6b6420fc.949be","wires":[]},{"id":"ec2bb0d.f13d45","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":961.7143478393555,"y":782.7142906188965,"z":"6b6420fc.949be","wires":[]},{"id":"14cfe665.eb301a","type":"function","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":586.2857055664062,"y":362.2856979370117,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","9661e5d6.699e18"]]},{"id":"9661e5d6.699e18","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":593.1427764892578,"y":243.28571891784668,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"3fc30d16.c03cf2","type":"function","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":570.7142753601074,"y":124.85712814331055,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","a6c5c38e.593a4"]]},{"id":"a6c5c38e.593a4","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":766.7142562866211,"y":123.99999046325684,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"403ee1e.fbfc12","type":"function","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":537.2857284545898,"y":699.4285883903503,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","b08aa188.4f756"]]},{"id":"3297397a.cd68c6","type":"function","name":"Say Goodbye","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"GOODBYE\"\nreturn msg;","outputs":1,"x":554.2857513427734,"y":615.7142848968506,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884"]]},{"id":"b08aa188.4f756","type":"function","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":534.2857262747627,"y":778.5714294569832,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"c923c103.36dc4","type":"inject","name":"Has company","topic":"","payload":"HAS_COMPANY","payloadType":"string","repeat":"","crontab":"","once":false,"x":104.28571701049805,"y":202.85713005065918,"z":"6b6420fc.949be","wires":[["8b0a2955.74f5d8"]]},{"id":"b1c29a9f.4e3d68","type":"inject","name":"Is Alone","topic":"","payload":"IS_ALONE","payloadType":"string","repeat":"","crontab":"","once":false,"x":92.85713577270508,"y":270.00000381469727,"z":"6b6420fc.949be","wires":[["8b0a2955.74f5d8"]]},{"id":"3d211ddd.c2dee2","type":"delay","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":569.9999732971191,"y":38.57142162322998,"z":"6b6420fc.949be","wires":[["6aeef1ef.95111","3fc30d16.c03cf2"]]},{"id":"fd7fc719.028038","type":"mqtt in","name":"","topic":"/minecraft/+/block/#","broker":"bdf988ea.420678","x":138.57142639160156,"y":881.4285745620728,"z":"6b6420fc.949be","wires":[["a43c4e90.5bc3b","cfef43dd.3010c"]]},{"id":"a43c4e90.5bc3b","type":"function","name":"Say Doh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"DOH\"\nreturn msg;","outputs":1,"x":545.7142857142857,"y":878.5714285714284,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884"]]},{"id":"cfef43dd.3010c","type":"function","name":"Skull shout","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,1,1\"\nreturn msg;","outputs":1,"x":554.2857131958008,"y":941.4285383224487,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"952bb36d.6ad45","type":"inject","name":"Break block","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":158.57142857142856,"y":791.4285714285713,"z":"6b6420fc.949be","wires":[["a43c4e90.5bc3b","cfef43dd.3010c"]]},{"id":"99e72c16.6618d","type":"mqtt in","name":"","topic":"/minecraft/+/lever/#","broker":"bdf988ea.420678","x":142.8571434020996,"y":91.42857456207275,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"89c0cc60.763f3","type":"function","name":"Which Eye & Pos","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar cmd=\"LED, 1,\";\nif(msg.topic.indexOf(\"249\")>0){\n\tcmd=\"LED, 0,\";\n}\n\nmsg.payload=cmd.concat(msg.payload);\n\nreturn msg;","outputs":1,"x":407.1428527832031,"y":91.42856025695801,"z":"472cf557.b8d30c","wires":[["82f97609.7d0688"]]},{"id":"82f97609.7d0688","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":709.9999809265137,"y":91.42856884002686,"z":"472cf557.b8d30c","wires":[]},{"id":"af9be54b.506418","type":"inject","name":"one eye on","topic":"/minecraft/world/lever/249","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28571428571428,"y":172.85714285714283,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"ce79f738.318608","type":"inject","name":"one eye off","topic":"/minecraft/world/lever/249","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28572463989258,"y":205.71428871154785,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"aee10d4e.511ef","type":"inject","name":"Other eye on","topic":"/minecraft/world/lever/250","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429824829102,"y":240.0000171661377,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"73d7fb04.8c2804","type":"inject","name":"Other eye off","topic":"/minecraft/world/lever/250","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429061889648,"y":274.28571701049805,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"d565bafe.2a9a48","type":"mqtt in","name":"","topic":"/minecraft/+/facetracker/#","broker":"bdf988ea.420678","x":151.4285659790039,"y":415.7142925262451,"z":"472cf557.b8d30c","wires":[["6ac5d78a.953a28"]]},{"id":"6ac5d78a.953a28","type":"function","name":"Translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n    var X=Math.floor(servoXMid-parts[0]*180);    // Allow for calibration\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    var Y=Math.floor(servoYMid-parts[1]*180-20);     // I subtract 20 since the skull is mounted with a low pitch\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\nreturn msg;","outputs":1,"x":531.4285354614258,"y":410.0000400543213,"z":"472cf557.b8d30c","wires":[["82f97609.7d0688"]]},{"id":"f2174474.0de8b8","type":"inject","name":"leftup","topic":"/minecraft/world/facetracker/45,34","payload":"-0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.14285714285712,"y":521.4285714285713,"z":"472cf557.b8d30c","wires":[["6ac5d78a.953a28"]]},{"id":"5119103a.aee6f","type":"inject","name":"rightup","topic":"/minecraft/world/facetracker/45,34","payload":"0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.14285278320312,"y":591.4285697937012,"z":"472cf557.b8d30c","wires":[["6ac5d78a.953a28"]]}]