node_red/flows_raspberrypi.json
[{"type":"tab","id":"39d5c2c4.c62a3e","label":"Sheet 1"},{"type":"tab","id":"e60590f.f19fa7","label":"Sonar & Skull"},{"type":"tab","id":"a31d02a6.5ce3","label":"Levers & tracking"},{"type":"tab","id":"86aa853.f795578","label":"Player coming or going"},{"type":"tab","id":"c66cbb89.399348","label":"control it"},{"type":"tab","id":"ccb85a24.3347a8","label":"Loop demo"},{"type":"tab","id":"7da6a28e.82595c","label":"Play"},{"type":"tab","id":"8be5ac21.741a5","label":"Remote control"},{"id":"e4ab9554.1b5468","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"29f6e08d.d6092","type":"twitter-credentials","screen_name":"@sisomm"},{"id":"8a9dbe11.75624","type":"mqtt-broker","broker":"api.xively.com","port":"1883","clientid":""},{"id":"72ac6183.8d53a","type":"mqtt-broker","z":"39d5c2c4.c62a3e","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"1a7bb8ed.e58447","type":"mqtt-broker","z":"39d5c2c4.c62a3e","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"5472e6e6.ab8d18","type":"mqtt-broker","z":"a31d02a6.5ce3","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"471d0247.b8e2fc","type":"debug","z":"39d5c2c4.c62a3e","name":"","active":true,"console":"false","complete":"true","x":628,"y":248,"wires":[]},{"id":"5b5ce4eb.a4a31c","type":"exec","z":"39d5c2c4.c62a3e","command":"python /home/pi/netscan/newlist.py","addpay":false,"append":"","useSpawn":"","name":"python","x":128,"y":169,"wires":[["575acc2e.a8a534"],[],[]]},{"id":"a0ab2d1c.5f54d","type":"inject","z":"39d5c2c4.c62a3e","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":113,"y":57,"wires":[["5b5ce4eb.a4a31c"]]},{"id":"575acc2e.a8a534","type":"function","z":"39d5c2c4.c62a3e","name":"getvars","func":"if(typeof(context.global.old_devices)===\"undefined\"){\n    context.global.old_devices=[];\n    context.global.new_devices=[];\n}\n\neval(msg.payload);\ncontext.global.wldev=wldev;\ncontext.global.arplist=arplist;\ncontext.global.dhcpd_static=dhcpd_static;\ncontext.global.dhcpd_lease=dhcpd_lease;\n\nvar ip_addresses=[];\nfor(var i=0;i<arplist.length;i++){\n    ip_addresses.push(arplist[i][0]);\n}\nmsg.ip_addresses=ip_addresses;\nreturn msg;","outputs":1,"noerr":0,"x":124,"y":272,"wires":[["1a38690f.e5c797","fecaa3b8.01356"]]},{"id":"658f8579.9a707c","type":"tail","z":"39d5c2c4.c62a3e","name":"tomato","split":true,"filename":"/var/log/tomato.log","x":304,"y":50,"wires":[[]]},{"id":"57b44b6.fa84bb4","type":"adv ping","z":"39d5c2c4.c62a3e","name":"","host":"","x":398,"y":531,"wires":[["b4a2d7b7.4b5d28"]]},{"id":"5374eb7e.ac8b14","type":"change","z":"39d5c2c4.c62a3e","name":"","rules":[{"t":"set","p":"host","to":"msg.payload"}],"action":"","property":"","from":"","to":"","reg":false,"x":288,"y":441,"wires":[["57b44b6.fa84bb4"]]},{"id":"1a38690f.e5c797","type":"splitter","z":"39d5c2c4.c62a3e","name":"","property":"ip_addresses","x":120,"y":387,"wires":[["5374eb7e.ac8b14"]]},{"id":"b4a2d7b7.4b5d28","type":"debug","z":"39d5c2c4.c62a3e","name":"","active":true,"console":"false","complete":"false","x":649,"y":494,"wires":[]},{"id":"fecaa3b8.01356","type":"delay","z":"39d5c2c4.c62a3e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":439,"y":317,"wires":[[]]},{"id":"890103a4.76ff","type":"mqtt in","z":"e60590f.f19fa7","name":"/arduino/2/sonar","topic":"/arduino/2/sonar","broker":"e4ab9554.1b5468","x":110.99999237060547,"y":35.285715103149414,"wires":[["8b06c7d7.74f938"]]},{"id":"8f91c5ea.706e38","type":"delay","z":"e60590f.f19fa7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":130.42855834960938,"y":269.2380828857422,"wires":[["334d1b04.ccb2e4","1b126827.e4ed98"]]},{"id":"334d1b04.ccb2e4","type":"delay","z":"e60590f.f19fa7","name":"delay 2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":138.28571319580078,"y":353,"wires":[["8c1b1d75.73e4e","70d99166.8f267","2c10df41.d3ef2","8541a93d.7abe58"]]},{"id":"3679d578.c9862a","type":"mqtt out","z":"e60590f.f19fa7","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":684.857177734375,"y":567.2857055664062,"wires":[]},{"id":"8c1b1d75.73e4e","type":"delay","z":"e60590f.f19fa7","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":123.71428680419922,"y":632,"wires":[["a4965d68.5b69a","ba96460e.4569b8"]]},{"id":"a4965d68.5b69a","type":"delay","z":"e60590f.f19fa7","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":132.8571434020996,"y":703.4285888671875,"wires":[["2a54bb32.d5ab44","4687af76.b9785"]]},{"id":"e2ffe046.1d002","type":"inject","z":"e60590f.f19fa7","name":"ping: 29","topic":"/arduino/2/sonar","payload":"Ping: 29","payloadType":"str","repeat":"","crontab":"","once":false,"x":104.28571428571428,"y":92.85714285714285,"wires":[["8b06c7d7.74f938"]]},{"id":"70d99166.8f267","type":"delay","z":"e60590f.f19fa7","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":268.8571319580078,"y":460.4285583496094,"wires":[["140d37f5.ebf2c8"]]},{"id":"11b18159.ee4e7f","type":"mqtt in","z":"86aa853.f795578","name":"","topic":"/minecraft/+/skull/#","broker":"e4ab9554.1b5468","x":100.42857360839844,"y":73.42856788635254,"wires":[["4882287c.b77dd8"]]},{"id":"1f1a6f86.e0e59","type":"switch","z":"86aa853.f795578","name":"Coming or going?","property":"payload","rules":[{"t":"cont","v":"COMPANY"},{"t":"cont","v":"ALONE"}],"checkall":"true","outputs":2,"x":327.1428527832031,"y":166.14285850524902,"wires":[["2ef9a1e7.d1065e","6f9c2a67.9063d4"],["45549f31.baab6","d00f59e1.2ff0a8"]]},{"id":"7e0a66ed.81f598","type":"function","z":"86aa853.f795578","name":"Say Hello","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"HELLO\"\nreturn msg;","outputs":1,"x":549.8572387695312,"y":549.5714302062988,"wires":[["ecdac61e.132538"]]},{"id":"ecdac61e.132538","type":"mqtt out","z":"86aa853.f795578","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":1094.428565979004,"y":428.00003814697266,"wires":[]},{"id":"84585c5d.7ba7a","type":"mqtt out","z":"86aa853.f795578","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"e4ab9554.1b5468","x":1100.0477294921875,"y":619.3809509277344,"wires":[]},{"id":"2ef9a1e7.d1065e","type":"function","z":"86aa853.f795578","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":586.2857055664062,"y":362.2856979370117,"wires":[["84585c5d.7ba7a","69678bd9.969874"]]},{"id":"69678bd9.969874","type":"function","z":"86aa853.f795578","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":809.3927688598633,"y":297.0357241630554,"wires":[["84585c5d.7ba7a"]]},{"id":"812ec755.7ed138","type":"function","z":"86aa853.f795578","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":585.7143020629883,"y":104.85713386535645,"wires":[["84585c5d.7ba7a","b85b9111.47a47","bb334b56.44ccb8"]]},{"id":"32c3e0c0.cd3c2","type":"function","z":"86aa853.f795578","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":779.7142333984375,"y":171.99999237060547,"wires":[["84585c5d.7ba7a"]]},{"id":"45549f31.baab6","type":"function","z":"86aa853.f795578","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":537.2857284545898,"y":699.4285883903503,"wires":[["84585c5d.7ba7a","9384c716.6c7b38"]]},{"id":"d00f59e1.2ff0a8","type":"function","z":"86aa853.f795578","name":"Say Goodbye","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"GOODBYE\"\nreturn msg;","outputs":1,"x":554.2857513427734,"y":615.7142848968506,"wires":[["ecdac61e.132538"]]},{"id":"9384c716.6c7b38","type":"function","z":"86aa853.f795578","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":534.2857262747627,"y":778.5714294569832,"wires":[["84585c5d.7ba7a","b85b9111.47a47"]]},{"id":"b3f53ab9.4c0ac8","type":"inject","z":"86aa853.f795578","name":"Has company","topic":"","payload":"HAS_COMPANY","payloadType":"string","repeat":"","crontab":"","once":false,"x":104.28571701049805,"y":202.85713005065918,"wires":[["4882287c.b77dd8"]]},{"id":"79db962f.862468","type":"inject","z":"86aa853.f795578","name":"Is Alone","topic":"","payload":"IS_ALONE","payloadType":"string","repeat":"","crontab":"","once":false,"x":92.85713577270508,"y":270.00000381469727,"wires":[["4882287c.b77dd8"]]},{"id":"6f9c2a67.9063d4","type":"delay","z":"86aa853.f795578","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":569.9999732971191,"y":38.57142162322998,"wires":[["7e0a66ed.81f598","812ec755.7ed138"]]},{"id":"be8ea8f7.417158","type":"mqtt in","z":"86aa853.f795578","name":"","topic":"/minecraft/+/block/#","broker":"e4ab9554.1b5468","x":98.57142639160156,"y":861.4285831451416,"wires":[["211455d0.deebaa"]]},{"id":"d3b8553a.2c47a8","type":"function","z":"86aa853.f795578","name":"Say Doh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"DOH\"\nreturn msg;","outputs":1,"x":545.7142857142857,"y":878.5714285714284,"wires":[["ecdac61e.132538","bb334b56.44ccb8"]]},{"id":"7d7cf41a.82830c","type":"function","z":"86aa853.f795578","name":"Skull shout","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,1,1\"\nreturn msg;","outputs":1,"x":554.2857131958008,"y":941.4285383224487,"wires":[["84585c5d.7ba7a","1d007bcf.e2ff84","b9793395.4686d"]]},{"id":"d87eebd.f278118","type":"inject","z":"86aa853.f795578","name":"Break block","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":108.5714340209961,"y":793.0952663421631,"wires":[["211455d0.deebaa"]]},{"id":"dc88c537.237738","type":"mqtt in","z":"a31d02a6.5ce3","name":"","topic":"/minecraft/+/lever/#","broker":"e4ab9554.1b5468","x":142.8571434020996,"y":91.42857456207275,"wires":[["f6285a3b.09d7a8"]]},{"id":"f6285a3b.09d7a8","type":"function","z":"a31d02a6.5ce3","name":"Which Eye & Pos","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar cmd=\"LED, 1,\";\nif(msg.topic.indexOf(\"249\")>0){\n\tcmd=\"LED, 0,\";\n}\n\nmsg.payload=cmd.concat(msg.payload);\n\nreturn msg;","outputs":1,"x":407.1428527832031,"y":91.42856025695801,"wires":[["89c9f6bb.763608"]]},{"id":"11d21b11.ee2de5","type":"inject","z":"a31d02a6.5ce3","name":"one eye on","topic":"/minecraft/world/lever/249","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28571428571428,"y":172.85714285714283,"wires":[["f6285a3b.09d7a8"]]},{"id":"56c6050c.a939fc","type":"inject","z":"a31d02a6.5ce3","name":"one eye off","topic":"/minecraft/world/lever/249","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28572463989258,"y":205.71428871154785,"wires":[["f6285a3b.09d7a8"]]},{"id":"71fbe131.8e042","type":"inject","z":"a31d02a6.5ce3","name":"Other eye on","topic":"/minecraft/world/lever/250","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429824829102,"y":240.0000171661377,"wires":[["f6285a3b.09d7a8"]]},{"id":"b3b9eff1.4c461","type":"inject","z":"a31d02a6.5ce3","name":"Other eye off","topic":"/minecraft/world/lever/250","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429061889648,"y":274.28571701049805,"wires":[["f6285a3b.09d7a8"]]},{"id":"eed978e0.112688","type":"mqtt in","z":"a31d02a6.5ce3","name":"","topic":"/minecraft/+/facetracker/#","broker":"e4ab9554.1b5468","x":141.4285659790039,"y":355.71429443359375,"wires":[["4b633128.b49cd"]]},{"id":"28af1b3a.d750e4","type":"function","z":"a31d02a6.5ce3","name":"Translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; //  The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // \nvar    servoXMid=330; // 360\nvar    servoYMin=235; //\nvar     servoYMax=520; //\nvar    servoYMid=300; // 320\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n    var X=Math.floor(servoXMid-parts[0]*180);    // Allow for calibration\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    var Y=Math.floor(servoYMid-parts[1]*180-20);     // I subtract 20 since the skull is mounted with a low pitch\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\nreturn msg;","outputs":1,"noerr":0,"x":745.7143440246582,"y":414.285737991333,"wires":[["deef7724.211088","89c9f6bb.763608"]]},{"id":"96e80efa.6917f","type":"inject","z":"a31d02a6.5ce3","name":"leftup","topic":"/minecraft/world/facetracker/45,34","payload":"-0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":125.14286041259767,"y":433.4285583496094,"wires":[["4b633128.b49cd"]]},{"id":"52e1d3e6.ad1e2c","type":"inject","z":"a31d02a6.5ce3","name":"rightup","topic":"/minecraft/world/facetracker/45,34","payload":"0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":122.14285278320312,"y":497.4285888671875,"wires":[["4b633128.b49cd"]]},{"id":"4c3251c8.b3cdb","type":"function","z":"e60590f.f19fa7","name":"test and set busy","func":"\n\nvar busy=global.get(\"busy\")||false;\n\nif(busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n} else { \n\tglobal.set(\"busy\",true);\n\tmsg.freeToRun=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":118.71427917480469,"wires":[["80498290.7fb68"]]},{"id":"80498290.7fb68","type":"switch","z":"e60590f.f19fa7","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":589.2857055664062,"y":106.71427917480469,"wires":[["8f91c5ea.706e38","503f22f5.afc0dc"]]},{"id":"2a54bb32.d5ab44","type":"function","z":"e60590f.f19fa7","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);\nreturn msg;","outputs":1,"noerr":0,"x":513.9524536132812,"y":717.6666259765625,"wires":[[]]},{"id":"4b633128.b49cd","type":"function","z":"a31d02a6.5ce3","name":"test and set busy","func":"\n\nvar busy=global.get(\"busy\")||false;\n\nif(busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n} else { \n\tglobal.set(\"busy\",true);\n\tmsg.freeToRun=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":427.14288330078125,"y":414.2856979370117,"wires":[["822f1301.7dd0f"]]},{"id":"822f1301.7dd0f","type":"switch","z":"a31d02a6.5ce3","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":601.4285430908203,"y":414.2857027053833,"wires":[["28af1b3a.d750e4"]]},{"id":"deef7724.211088","type":"function","z":"a31d02a6.5ce3","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);\nreturn msg;","outputs":1,"noerr":0,"x":964.2856903076172,"y":412.8571447134018,"wires":[[]]},{"id":"4882287c.b77dd8","type":"function","z":"86aa853.f795578","name":"test and set busy","func":"\n\nvar busy=global.get(\"busy\")||false;\n\nif(busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n} else { \n\tglobal.set(\"busy\",true);\n\tmsg.freeToRun=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":158.3333511352539,"y":385.00002574920654,"wires":[["f1319e11.0ece6"]]},{"id":"f1319e11.0ece6","type":"switch","z":"86aa853.f795578","name":"OK to Run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":328.33334732055664,"y":386.6666841506958,"wires":[["1f1a6f86.e0e59"]]},{"id":"1d007bcf.e2ff84","type":"function","z":"86aa853.f795578","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);","outputs":1,"noerr":0,"x":1036.666648864746,"y":1034.9999961853027,"wires":[[]]},{"id":"b85b9111.47a47","type":"delay","z":"86aa853.f795578","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":973.333309173584,"y":821.6666831970215,"wires":[["1d007bcf.e2ff84"]]},{"id":"211455d0.deebaa","type":"function","z":"86aa853.f795578","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":334.99999237060547,"y":833.3333425521851,"wires":[["e1508425.1eaf78"]]},{"id":"e1508425.1eaf78","type":"switch","z":"86aa853.f795578","name":"OK to Run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":363.33333333333326,"y":923.3333333333331,"wires":[["d3b8553a.2c47a8","7d7cf41a.82830c"]]},{"id":"b9793395.4686d","type":"function","z":"86aa853.f795578","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":681.6666666666665,"y":1038.3333333333333,"wires":[["84585c5d.7ba7a"]]},{"id":"5fa42a8.fa05bd4","type":"function","z":"c66cbb89.399348","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":699.2380752563477,"y":77.47620677947998,"wires":[["2073f401.df8c0c","98ffaeb4.67005"]]},{"id":"2073f401.df8c0c","type":"mqtt out","z":"c66cbb89.399348","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"e4ab9554.1b5468","x":1048.0952644348145,"y":369.71425342559814,"wires":[]},{"id":"650fca02.9af034","type":"delay","z":"c66cbb89.399348","name":"delay 1","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":401.4166603088379,"y":233.63095474243164,"wires":[["b09f265a.4f60d8","85c3a5a3.7a3c58","dddbd535.222428","8f5f8476.70a078"]]},{"id":"8f5f8476.70a078","type":"mqtt out","z":"c66cbb89.399348","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":736.916633605957,"y":491.42859649658203,"wires":[]},{"id":"b09f265a.4f60d8","type":"function","z":"c66cbb89.399348","name":"Jaw motion","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":684.8094635009766,"y":169.3333282470703,"wires":[["2073f401.df8c0c"]]},{"id":"85c3a5a3.7a3c58","type":"delay","z":"c66cbb89.399348","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":456.3809585571289,"y":402.21430015563965,"wires":[["fc61b57d.039e48"]]},{"id":"fc61b57d.039e48","type":"function","z":"c66cbb89.399348","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":662.5714416503906,"y":596.3810110092163,"wires":[["2073f401.df8c0c"]]},{"id":"1c7a1db4.e385e2","type":"inject","z":"c66cbb89.399348","name":"Laugh","topic":"","payload":"LAUGH","payloadType":"string","repeat":"","crontab":"","once":false,"x":106.6190414428711,"y":74.2380895614624,"wires":[["650fca02.9af034","5fa42a8.fa05bd4"]]},{"id":"dddbd535.222428","type":"delay","z":"c66cbb89.399348","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":633.5237731933594,"y":282.80953788757324,"wires":[["3def537e.c210ac"]]},{"id":"3def537e.c210ac","type":"function","z":"c66cbb89.399348","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":772.809497833252,"y":369.7142758369446,"wires":[["2073f401.df8c0c"]]},{"id":"33bb96f3.cc446a","type":"function","z":"c66cbb89.399348","name":"Translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n    var X=Math.floor(servoXMid-parts[0]*180);    // Allow for calibration\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    var Y=Math.floor(servoYMid-parts[1]*180-20);     // I subtract 20 since the skull is mounted with a low pitch\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\nreturn msg;","outputs":1,"x":785.523853302002,"y":705.5238437652588,"wires":[["2073f401.df8c0c"]]},{"id":"6d64c8c4.929b38","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"GOODBYE","payloadType":"string","repeat":"","crontab":"","once":false,"x":107.14285659790039,"y":115,"wires":[["650fca02.9af034","5fa42a8.fa05bd4"]]},{"id":"6733ed8a.98cc14","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"HELLO","payloadType":"string","repeat":"","crontab":"","once":false,"x":105.14284896850586,"y":173.99998474121094,"wires":[["650fca02.9af034","5fa42a8.fa05bd4"]]},{"id":"68027eda.97fd8","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"LEFT","payloadType":"string","repeat":"","crontab":"","once":false,"x":264.92859268188477,"y":607.5000095367432,"wires":[["ae5247dc.51adb8"]]},{"id":"59402d69.a6bfd4","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"RIGHT","payloadType":"string","repeat":"","crontab":"","once":false,"x":441.4523696899414,"y":606.1587612628937,"wires":[["ae5247dc.51adb8"]]},{"id":"f61df7a0.09e208","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"UP","payloadType":"string","repeat":"","crontab":"","once":false,"x":338.7142677307129,"y":546.2500076293945,"wires":[["ae5247dc.51adb8"]]},{"id":"c703aa3d.38fc58","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"DOWN","payloadType":"string","repeat":"","crontab":"","once":false,"x":361.82541275024414,"y":665.2578830718994,"wires":[["ae5247dc.51adb8"]]},{"id":"98ffaeb4.67005","type":"debug","z":"c66cbb89.399348","name":"","active":true,"complete":"true","x":1112.857177734375,"y":202.8571434020996,"wires":[]},{"id":"ae5247dc.51adb8","type":"function","z":"c66cbb89.399348","name":"moveskull","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar servoX=0.0;\nvar servoY=0.0;\n\nvar X=context.global.servoX;  \nvar Y=context.global.servoY;\n\n// Do the changes that the command suggests\nif(msg.payload==\"UP\")\n\tY=Y-20; \nif(msg.payload==\"DOWN\")\n\tY=Y+20; \nif(msg.payload==\"LEFT\")\n\tX=X+20; \nif(msg.payload==\"RIGHT\") \n\tX=X-20; \n\n    \n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n\tif(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\n\nreturn msg;","outputs":1,"x":741.1111111111111,"y":797.7777777777777,"wires":[["2073f401.df8c0c"]]},{"id":"7d539bc9.82ac64","type":"inject","z":"c66cbb89.399348","name":"LEDS_ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":293,"wires":[["3def537e.c210ac"]]},{"id":"bb9f1dfa.4460e","type":"inject","z":"c66cbb89.399348","name":"LEDS_OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":350,"wires":[["fc61b57d.039e48"]]},{"id":"3acc436b.c533bc","type":"inject","z":"c66cbb89.399348","name":"blink eyes","topic":"","payload":"BLINK,9","payloadType":"string","repeat":"","crontab":"","once":false,"x":98.88888549804688,"y":517.7777919769287,"wires":[["2073f401.df8c0c"]]},{"id":"3f46e7cc.c0b918","type":"inject","z":"c66cbb89.399348","name":"Clouse mouth","topic":"","payload":"JAW_POSITION,0","payloadType":"string","repeat":"","crontab":"","once":false,"x":118.75,"y":681.2500085830688,"wires":[["2073f401.df8c0c"]]},{"id":"6441f8b3.9bbe08","type":"inject","z":"c66cbb89.399348","name":"Open mouth","topic":"","payload":"JAW_POSITION,1","payloadType":"string","repeat":"","crontab":"","once":false,"x":113.75,"y":746.2500114440918,"wires":[["2073f401.df8c0c"]]},{"id":"eb56342c.14a9c8","type":"function","z":"ccb85a24.3347a8","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":582.0158729553223,"y":266.9206314086914,"wires":[["4f2e331d.b0d1cc"]]},{"id":"be88b257.41775","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":140.87300872802734,"y":273.7301425933838,"wires":[["ce2fab7f.31d058","fa70a3d4.058f6"]]},{"id":"4f2e331d.b0d1cc","type":"mqtt out","z":"ccb85a24.3347a8","name":"","topic":"/arduino/1/incoming","broker":"e4ab9554.1b5468","x":798.0952835083008,"y":458.04759788513184,"wires":[]},{"id":"ce2fab7f.31d058","type":"delay","z":"ccb85a24.3347a8","name":"delay 2","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":110.44445037841797,"y":448.4920597076416,"wires":[["87fae3ec.78052","2f4fc4c3.d0b03c","ee89bc48.11764","3cc0226c.c33fde"]]},{"id":"87fae3ec.78052","type":"function","z":"ccb85a24.3347a8","name":"laugh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LAUGH\";\n\nreturn msg;","outputs":1,"x":183.58729553222656,"y":653.4920835494995,"wires":[["2259c89.fdda638"]]},{"id":"2259c89.fdda638","type":"mqtt out","z":"ccb85a24.3347a8","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":348.4444580078125,"y":599.2063617706299,"wires":[]},{"id":"2f4fc4c3.d0b03c","type":"function","z":"ccb85a24.3347a8","name":"Jaw motion","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":357.58728790283203,"y":448.777774810791,"wires":[["4f2e331d.b0d1cc"]]},{"id":"ee89bc48.11764","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":104.15873718261719,"y":727.4920301437378,"wires":[["1e12886.fe1ed78","964e692c.69b198"]]},{"id":"1e12886.fe1ed78","type":"function","z":"ccb85a24.3347a8","name":"Turn Back","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVOS_MOVE, 360, 320, 7\"\nreturn msg;","outputs":1,"x":307.44446182250977,"y":726.7777442932129,"wires":[["4f2e331d.b0d1cc"]]},{"id":"964e692c.69b198","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":106.30159378051758,"y":873.9206256866455,"wires":[["ea08f9e8.15f708","f9a50ce3.065af"]]},{"id":"ea08f9e8.15f708","type":"function","z":"ccb85a24.3347a8","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":302.0158853530884,"y":822.4920892715454,"wires":[["4f2e331d.b0d1cc"]]},{"id":"e8c93b7b.1736c8","type":"inject","z":"ccb85a24.3347a8","name":"Start","topic":"/arduino/2/sonar","payload":"ping: 29","payloadType":"string","repeat":"","crontab":"","once":false,"x":122.17461013793945,"y":43.126983642578125,"wires":[["783f0247.87c0fc"]]},{"id":"3cc0226c.c33fde","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":266.30157470703125,"y":523.9206314086914,"wires":[["da8bffda.2574"]]},{"id":"da8bffda.2574","type":"function","z":"ccb85a24.3347a8","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":410.5873031616211,"y":522.4920601844788,"wires":[["4f2e331d.b0d1cc"]]},{"id":"fa70a3d4.058f6","type":"function","z":"ccb85a24.3347a8","name":"Turn","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nif(context.turn==\"left\") {\n\tcontext.turn=\"right\";\n\tmsg.payload=\"SERVOS_MOVE, 550, 235, 15\";\n} else {\n\tcontext.turn=\"left\";\n\tmsg.payload=\"SERVOS_MOVE, 200, 235, 15\"\n}\n\nreturn msg;","outputs":1,"x":358.6825752258301,"y":372.6507968902588,"wires":[["4f2e331d.b0d1cc"]]},{"id":"783f0247.87c0fc","type":"function","z":"ccb85a24.3347a8","name":"test and set busy","func":"\n\nvar busy=global.get(\"busy\")||false;\n\nif(busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n} else { \n\tglobal.set(\"busy\",true);\n\tmsg.freeToRun=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":343.4444351196289,"y":109.3174467086792,"wires":[["29f83b8a.d607c4"]]},{"id":"29f83b8a.d607c4","type":"switch","z":"ccb85a24.3347a8","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":567.7301559448242,"y":128.20634174346924,"wires":[["be88b257.41775","eb56342c.14a9c8"]]},{"id":"f9a50ce3.065af","type":"function","z":"ccb85a24.3347a8","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);\nreturn msg;","outputs":1,"noerr":0,"x":639.3968734741211,"y":869.158670425415,"wires":[["ea08f9e8.15f708","6e711ab1.918ee4"]]},{"id":"6e711ab1.918ee4","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":709.9999465942383,"y":648.8888740539551,"wires":[["783f0247.87c0fc"]]},{"id":"9f3c89de.60c378","type":"inject","z":"ccb85a24.3347a8","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118.88887405395508,"y":92.22223281860352,"wires":[["f22a7b1c.0dd588"]]},{"id":"f22a7b1c.0dd588","type":"function","z":"ccb85a24.3347a8","name":"setstop","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {}; \n// \n\ncontext.global.busy=true;\nreturn msg;","outputs":1,"x":504.4444274902344,"y":50,"wires":[["b5da8c41.4a257"]]},{"id":"b5da8c41.4a257","type":"delay","z":"ccb85a24.3347a8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":695.5555839538574,"y":73.33333969116211,"wires":[["24b5c1b.fdb4a3e"]]},{"id":"24b5c1b.fdb4a3e","type":"function","z":"ccb85a24.3347a8","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);\nreturn msg;","outputs":1,"noerr":0,"x":813.3333492279053,"y":172.22222137451172,"wires":[[]]},{"id":"b0424631.4fbdb8","type":"inject","z":"c66cbb89.399348","name":"Not busy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":417,"wires":[["c8fd8e0e.37027"]]},{"id":"c8fd8e0e.37027","type":"function","z":"c66cbb89.399348","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nglobal.set(\"busy\",false);\nreturn msg;","outputs":1,"noerr":0,"x":258,"y":451,"wires":[[]]},{"id":"bb334b56.44ccb8","type":"delay","z":"86aa853.f795578","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":592,"y":179,"wires":[["32c3e0c0.cd3c2"]]},{"id":"99359668.66ca68","type":"mqtt in","z":"7da6a28e.82595c","name":"","topic":"/arduino/2/sonar","broker":"e4ab9554.1b5468","x":97,"y":89.33333110809326,"wires":[[]]},{"id":"86465b27.79b9a8","type":"debug","z":"7da6a28e.82595c","name":"","active":true,"complete":false,"x":712.5,"y":175.25,"wires":[]},{"id":"3aa7d7.ffc55828","type":"inject","z":"7da6a28e.82595c","name":"Ping: 29","topic":"","payload":"Ping: 29","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":153,"wires":[["19ddfa9a.e62205"]]},{"id":"19ddfa9a.e62205","type":"change","z":"7da6a28e.82595c","name":"Strip text","action":"change","property":"payload","from":"Ping:","to":"","reg":false,"x":372.77777099609375,"y":118.33334350585938,"wires":[["67b1748c.984e8c"]]},{"id":"8b06c7d7.74f938","type":"change","z":"e60590f.f19fa7","name":"Strip text","rules":[{"t":"change","p":"payload","from":"Ping:","to":"","re":false}],"x":336,"y":37,"wires":[["6a533145.95acd","a0f6e068.5f092"]]},{"id":"67b1748c.984e8c","type":"switch","z":"7da6a28e.82595c","name":"","property":"payload","rules":[{"t":"lt","v":10,"v2":0},{"t":"lt","v":30,"v2":0}],"checkall":"false","outputs":2,"x":459,"y":256,"wires":[["779d6fbd.88629"],["c564b723.3a9b48"]]},{"id":"1a4dfe27.e5b202","type":"mqtt out","z":"7da6a28e.82595c","name":"","topic":"/arduino/1/incoming","broker":"e4ab9554.1b5468","x":743,"y":266,"wires":[]},{"id":"779d6fbd.88629","type":"template","z":"7da6a28e.82595c","name":"Jaw motion","template":"JAW_MOTION,{{payload}},1","x":463,"y":401,"wires":[["1a4dfe27.e5b202"]]},{"id":"5ab2b3e3.a54d4c","type":"inject","z":"7da6a28e.82595c","name":"","topic":"","payload":"Ping: 3","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":266,"wires":[["19ddfa9a.e62205"]]},{"id":"c564b723.3a9b48","type":"change","z":"7da6a28e.82595c","name":"DOH","action":"replace","property":"payload","from":"","to":"DOH","reg":false,"x":555,"y":60,"wires":[["cb488043.34b78"]]},{"id":"41eb32d4.be14cc","type":"change","z":"7da6a28e.82595c","name":"BLINK","action":"replace","property":"payload","from":"","to":"BLINK","reg":false,"x":440,"y":492,"wires":[[]]},{"id":"cb488043.34b78","type":"mqtt out","z":"7da6a28e.82595c","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":745,"y":88,"wires":[]},{"id":"1b126827.e4ed98","type":"change","z":"e60590f.f19fa7","name":"Turn right","rules":[{"t":"set","p":"payload","to":"SERVOS_MOVE, 450, 215, 10"}],"x":384,"y":215,"wires":[["8172286b.7e8dd8"]]},{"id":"c5a9f059.3a561","type":"change","z":"e60590f.f19fa7","name":"Turn left","rules":[{"t":"set","p":"payload","to":"SERVOS_MOVE, 160, 240, 200"}],"x":384.77777099609375,"y":284.77777099609375,"wires":[["8172286b.7e8dd8"]]},{"id":"2c10df41.d3ef2","type":"change","z":"e60590f.f19fa7","name":"Jaw motions","rules":[{"t":"set","p":"payload","to":"JAW_MOTION,4,1"}],"x":389.1111145019531,"y":351.4444580078125,"wires":[["8172286b.7e8dd8"]]},{"id":"8541a93d.7abe58","type":"change","z":"e60590f.f19fa7","name":"LAUGH","action":"replace","property":"payload","from":"","to":"LAUGH","reg":false,"x":236.99999237060547,"y":563.142822265625,"wires":[["3679d578.c9862a"]]},{"id":"140d37f5.ebf2c8","type":"change","z":"e60590f.f19fa7","name":"LEDS_ON","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"x":434,"y":460.4285888671875,"wires":[["8172286b.7e8dd8"]]},{"id":"503f22f5.afc0dc","type":"change","z":"e60590f.f19fa7","name":"LEDS_ON","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"x":701.1428833007812,"y":222.57142639160156,"wires":[["8172286b.7e8dd8"]]},{"id":"ba96460e.4569b8","type":"change","z":"e60590f.f19fa7","name":"Turn back","rules":[{"t":"set","p":"payload","to":"SERVOS_MOVE, 330, 300, 10"}],"x":328.6667022705078,"y":632.3333129882812,"wires":[["8172286b.7e8dd8"]]},{"id":"4687af76.b9785","type":"change","z":"e60590f.f19fa7","name":"LEDS_OFF","action":"replace","property":"payload","from":"","to":"LEDS_OFF","reg":false,"x":332.9999694824219,"y":679.3333129882812,"wires":[["8172286b.7e8dd8"]]},{"id":"4b28ca4c.b4d734","type":"inject","z":"c66cbb89.399348","name":"right","topic":"","payload":"LED,1,1","payloadType":"string","repeat":"","crontab":"","once":false,"x":107,"y":583,"wires":[["2073f401.df8c0c"]]},{"id":"7543cdce.8abc34","type":"mqtt in","z":"8be5ac21.741a5","name":"","topic":"/arduino/2/remote","broker":"e4ab9554.1b5468","x":90,"y":50,"wires":[["3b6496ab.c49b6a"]]},{"id":"c977bb9b.368848","type":"debug","z":"8be5ac21.741a5","name":"","active":true,"complete":false,"x":614,"y":91,"wires":[]},{"id":"3b6496ab.c49b6a","type":"change","z":"8be5ac21.741a5","name":"","action":"change","property":"payload","from":"Remote:","to":"","reg":false,"x":134,"y":139,"wires":[["146565f7.eb9a9a","c977bb9b.368848"]]},{"id":"146565f7.eb9a9a","type":"switch","z":"8be5ac21.741a5","name":"","property":"payload","rules":[{"t":"regex","v":"FFFFFFFF"},{"t":"regex","v":"FDA05F"},{"t":"regex","v":"FD08F7"},{"t":"regex","v":"FD8877"}],"checkall":"true","outputs":4,"x":109,"y":226,"wires":[[],["c977bb9b.368848","a1868fcf.5e797","dc4c40af.23b3c"],["d7bb3638.2844c8"],["8357e41e.7ca818"]]},{"id":"71bd174d.8e42e8","type":"mqtt out","z":"8be5ac21.741a5","name":"","topic":"/arduino/1/incoming","broker":"e4ab9554.1b5468","x":660,"y":297,"wires":[]},{"id":"92d2181a.6d2de8","type":"mqtt out","z":"8be5ac21.741a5","name":"","topic":"/raspberry/1/incoming","broker":"e4ab9554.1b5468","x":650,"y":414,"wires":[]},{"id":"a1868fcf.5e797","type":"delay","z":"8be5ac21.741a5","name":"Laugh","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":168,"y":365,"wires":[["33f8797f.cc0786","51009636.aeff68"]]},{"id":"33f8797f.cc0786","type":"change","z":"8be5ac21.741a5","name":"Jaw motions","action":"replace","property":"payload","from":"","to":"JAW_MOTION,4,1","reg":false,"x":382.8254089355469,"y":294.4444580078125,"wires":[["71bd174d.8e42e8"]]},{"id":"51009636.aeff68","type":"change","z":"8be5ac21.741a5","name":"LAUGH","action":"replace","property":"payload","from":"","to":"LAUGH","reg":false,"x":372.7142639160156,"y":353.142822265625,"wires":[["92d2181a.6d2de8"]]},{"id":"dc4c40af.23b3c","type":"change","z":"8be5ac21.741a5","name":"","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"x":557,"y":210,"wires":[["71bd174d.8e42e8"]]},{"id":"86f04c83.790fb","type":"change","z":"8be5ac21.741a5","name":"onejaw","action":"replace","property":"payload","from":"","to":"JAW_MOTION,1,1","reg":false,"x":370,"y":450,"wires":[["71bd174d.8e42e8"]]},{"id":"d7bb3638.2844c8","type":"delay","z":"8be5ac21.741a5","name":"Doh","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":160,"y":472,"wires":[["86f04c83.790fb","f979e821.068618"]]},{"id":"f979e821.068618","type":"change","z":"8be5ac21.741a5","name":"DOH","action":"replace","property":"payload","from":"","to":"DOH","reg":false,"x":369,"y":505,"wires":[["92d2181a.6d2de8"]]},{"id":"8357e41e.7ca818","type":"change","z":"8be5ac21.741a5","name":"LEDS_ON","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"x":382,"y":600,"wires":[["71bd174d.8e42e8"]]},{"id":"6a533145.95acd","type":"debug","z":"e60590f.f19fa7","name":"","active":true,"console":"false","complete":"false","x":874,"y":108,"wires":[]},{"id":"a0f6e068.5f092","type":"switch","z":"e60590f.f19fa7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"1","vt":"str"},{"t":"lte","v":"40","vt":"str"}],"checkall":"true","outputs":2,"x":619,"y":35,"wires":[[],["4c3251c8.b3cdb"]]},{"id":"38719770.c78e68","type":"inject","z":"c66cbb89.399348","name":"","topic":"","payload":"SERVOS_MOVE, 300, 300, 10","payloadType":"string","repeat":"","crontab":"","once":false,"x":146,"y":233,"wires":[["2073f401.df8c0c"]]},{"id":"685e8439.97a17c","type":"mqtt in","z":"39d5c2c4.c62a3e","name":"","topic":"/scratch/sisomm","broker":"72ac6183.8d53a","x":105,"y":593,"wires":[["4a9eb85c.b56148","5484b18f.ab7b5"]]},{"id":"4a9eb85c.b56148","type":"mqtt out","z":"39d5c2c4.c62a3e","name":"","topic":"/arduino/1/incoming","qos":"","retain":"","broker":"1a7bb8ed.e58447","x":604,"y":596,"wires":[]},{"id":"5484b18f.ab7b5","type":"debug","z":"39d5c2c4.c62a3e","name":"","active":true,"console":"false","complete":"false","x":617,"y":683,"wires":[]},{"id":"6504483c.9afbb8","type":"mqtt in","z":"a31d02a6.5ce3","name":"","topic":"/raspberry/1/face/1","broker":"e4ab9554.1b5468","x":125,"y":580,"wires":[["53fd98dd.ac0268","8b8c46a3.7473b8"]]},{"id":"53fd98dd.ac0268","type":"function","z":"a31d02a6.5ce3","name":"test and set busy","func":"\n\nvar busy=global.get(\"busy\")||false;\n\nif(busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n} else { \n\tglobal.set(\"busy\",true);\n\tmsg.freeToRun=true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":499,"wires":[["d8d336f.f272cc8"]]},{"id":"d8d336f.f272cc8","type":"switch","z":"a31d02a6.5ce3","name":"OK to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":548,"y":499,"wires":[["6ee3a7eb.911c58"]]},{"id":"6ee3a7eb.911c58","type":"function","z":"a31d02a6.5ce3","name":"translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; //  The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // \nvar    servoXMid=330; // 360\nvar    servoYMin=235; //\nvar     servoYMax=520; //\nvar    servoYMid=300; // 320\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n\nvar X=Math.floor(420-parseInt(parts[0])/3,75);\nvar Y=Math.floor(220+parseInt(parts[1]/4));\n\n\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,7\",servoX,servoY);\n\nreturn msg;","outputs":1,"noerr":0,"x":749,"y":499,"wires":[["deef7724.211088","89c9f6bb.763608"]]},{"id":"a7492749.58b6d8","type":"mqtt in","z":"a31d02a6.5ce3","name":"","topic":"/scratch/sisomm","broker":"5472e6e6.ab8d18","x":108,"y":666,"wires":[["2444670f.dbbb98"]]},{"id":"2444670f.dbbb98","type":"switch","z":"a31d02a6.5ce3","name":"","property":"payload","rules":[{"t":"cont","v":"SCRATCH_MOVE"}],"checkall":"true","outputs":1,"x":315,"y":637,"wires":[["89a2688f.765d98"]]},{"id":"89a2688f.765d98","type":"function","z":"a31d02a6.5ce3","name":"translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=220; //  The commented numbers are for the old pan/tilt set\nvar    servoXMax=490; // \nvar    servoXMid=330; // 360\nvar    servoYMin=235; //\nvar     servoYMax=390; //\nvar    servoYMid=300; // 320\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n\nvar X=parseInt(parts[1]);\nvar Y=parseInt(parts[2]);\n\n\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,7\",servoX,servoY);\n\nreturn msg;","outputs":1,"noerr":0,"x":536,"y":634,"wires":[["89c9f6bb.763608"]]},{"id":"8b8c46a3.7473b8","type":"debug","z":"a31d02a6.5ce3","name":"","active":true,"console":"false","complete":"false","x":871,"y":625,"wires":[]},{"id":"89c9f6bb.763608","type":"mqtt out","z":"a31d02a6.5ce3","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"e4ab9554.1b5468","x":1012,"y":203,"wires":[]},{"id":"8172286b.7e8dd8","type":"mqtt out","z":"e60590f.f19fa7","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"e4ab9554.1b5468","x":740,"y":351,"wires":[]}]