node_red/flows_sensehatpi.json
[{"type":"tab","id":"9040230c.6fbfe","label":"Flow 1"},{"id":"af380220.50c8","type":"mqtt-broker","z":"9040230c.6fbfe","broker":"192.168.1.29","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"a4fe522b.5b01b","type":"mqtt out","z":"9040230c.6fbfe","name":"","topic":"/servoshield/1/incoming","qos":"","retain":"","broker":"af380220.50c8","x":679.5,"y":448,"wires":[]},{"id":"db6fa0b4.24906","type":"rpi-sensehat in","z":"9040230c.6fbfe","name":"","motion":true,"env":true,"stick":true,"x":121.5,"y":112,"wires":[["bb975142.4468b"]]},{"id":"73e69292.8c196c","type":"debug","z":"9040230c.6fbfe","name":"","active":true,"console":"false","complete":"true","x":623.5,"y":558,"wires":[]},{"id":"bb975142.4468b","type":"switch","z":"9040230c.6fbfe","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"joystick","vt":"str"}],"checkall":"true","outputs":1,"x":302.5,"y":108,"wires":[["f78ce58b.087318"]]},{"id":"1bfd51b8.e402ae","type":"rpi-sensehat out","z":"9040230c.6fbfe","name":"","x":713.5,"y":339,"wires":[]},{"id":"ec568108.13a98","type":"function","z":"9040230c.6fbfe","name":"","func":"var X=(flow.get(\"X\")||4)-1;\nvar Y=(flow.get(\"Y\")||3)-1;\n\n\nif(msg.payload.key==\"LEFT\" && (X>0)){\n    X=X-1;\n}\n\nif(msg.payload.key==\"RIGHT\" && (X<7)){\n    X=X+1;\n}\nif(msg.payload.key==\"UP\" && (Y>0)){\n    Y=Y-1;\n}\nif(msg.payload.key==\"DOWN\" && (Y<7)){\n    Y=Y+1;\n}\n\nflow.set(\"X\",X+1);\nflow.set(\"Y\",Y+1);\n\nvar msg1 = { payload:\"*,*,black\" };\nvar msg2 = { payload:util.format(\"%d,%d,red\",X,Y) };\n\nreturn [msg1,msg2];","outputs":"2","noerr":0,"x":458.5,"y":340,"wires":[["1bfd51b8.e402ae"],["1bfd51b8.e402ae"]]},{"id":"f78ce58b.087318","type":"switch","z":"9040230c.6fbfe","name":"","property":"payload.state","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":297.5,"y":183,"wires":[["ec568108.13a98","7046b819.8fb948","73e69292.8c196c"]]},{"id":"7046b819.8fb948","type":"function","z":"9040230c.6fbfe","name":"","func":"var    servoXMin=200; //  The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // \nvar    servoXMid=330; // 360\nvar    servoYMin=235; //\nvar     servoYMax=520; //\nvar    servoYMid=300; // 320\n\nif(msg.payload.key==\"ENTER\"){\n    msg.payload=\"JAW_MOTION, 1, 1\"; \n    return msg;\n}\n\nvar SX=(flow.get(\"SX\"))||servoXMid;\nvar SY=(flow.get(\"SY\"))||servoYMid;\n\nif(msg.payload.key==\"LEFT\" && (SX>servoXMin)){\n    SX=SX-5;\n}\n\nif(msg.payload.key==\"RIGHT\" && (SX<servoXMax)){\n    SX=SX+5;\n}\nif(msg.payload.key==\"UP\" && (SY>servoYMin)){\n    SY=SY-5;\n}\nif(msg.payload.key==\"DOWN\" && (SY<servoYMax)){\n    SY=SY+5;\n}\n\nflow.set(\"SX\",SX);\nflow.set(\"SY\",SY);\n\nvar msg1 = { payload:util.format(\"SERVOS_MOVE,%d,%d,7\",SX,SY) };\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":296.5,"y":448,"wires":[["a4fe522b.5b01b","73e69292.8c196c"]]}]