node_red/flows_raspberrypi.json
[{"type":"tab","id":"8086332d.7f79d","label":"Sonar & Skull"},{"type":"tab","id":"472cf557.b8d30c","label":"Levers & tracking"},{"type":"tab","id":"6b6420fc.949be","label":"Player coming or going"},{"type":"tab","id":"2520088d.dadff8","label":"control it"},{"type":"tab","id":"492f9080.b6d07","label":"Loop demo"},{"type":"tab","id":"607137ef.9f8ec8","label":"Play"},{"type":"tab","id":"d16e35ef.2e91c8","label":"Demo"},{"type":"tab","id":"82f652da.7d09b","label":"Remote control"},{"id":"bdf988ea.420678","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"68304c43.97cfb4","type":"twitter-credentials","screen_name":"@sisomm"},{"id":"ab9b1238.5464f","type":"mqtt-broker","broker":"api.xively.com","port":"1883","clientid":""},{"id":"f2f40b3e.0d0bf8","type":"mqtt in","name":"/arduino/2/sonar","topic":"/arduino/2/sonar","broker":"bdf988ea.420678","x":110.99999237060547,"y":35.285715103149414,"z":"8086332d.7f79d","wires":[[]]},{"id":"f99edcd9.06612","type":"switch","name":"person is close","property":"payload","rules":[{"t":"eq","v":0,"v2":0},{"t":"lte","v":30,"v2":0}],"checkall":"false","outputs":2,"x":583.7142486572266,"y":37.00000190734863,"z":"8086332d.7f79d","wires":[[],["5e52110f.a1adf"]]},{"id":"7b381c64.84c7e4","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":137.42855834960938,"y":212.2380828857422,"z":"8086332d.7f79d","wires":[["c6236151.39dca","b71c8a3c.48e378"]]},{"id":"71c90ff6.8e36f","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":682.4286193847656,"y":499.9999780654907,"z":"8086332d.7f79d","wires":[]},{"id":"c6236151.39dca","type":"delay","name":"delay 2","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":138.28571319580078,"y":353,"z":"8086332d.7f79d","wires":[["12986cd2.ed6793","3a91ba0.fc56e46","1815759a.e7ea8a","1b884c2d.e477b4"]]},{"id":"1a1ba421.e5e45c","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":684.857177734375,"y":567.2857055664062,"z":"8086332d.7f79d","wires":[]},{"id":"12986cd2.ed6793","type":"delay","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":123.71428680419922,"y":632,"z":"8086332d.7f79d","wires":[["7c89215d.8376e","63b6b0ae.9c495"]]},{"id":"7c89215d.8376e","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":132.8571434020996,"y":703.4285888671875,"z":"8086332d.7f79d","wires":[["57ae1ec.fa851e","46499f06.b9b66"]]},{"id":"3badbf61.c4524","type":"inject","name":"distance: 29","topic":"/arduino/2/sonar","payload":"Ping: 29","payloadType":"string","repeat":"","crontab":"","once":false,"x":114.28571428571428,"y":92.85714285714285,"z":"8086332d.7f79d","wires":[["3da4723a.c25b8e"]]},{"id":"3a91ba0.fc56e46","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":268.8571319580078,"y":460.4285583496094,"z":"8086332d.7f79d","wires":[["da39bcd.f25c64"]]},{"id":"ebc5d47a.143a28","type":"mqtt in","name":"","topic":"/minecraft/+/skull/#","broker":"bdf988ea.420678","x":100.42857360839844,"y":73.42856788635254,"z":"6b6420fc.949be","wires":[["7b72cb4.f848d34"]]},{"id":"8b0a2955.74f5d8","type":"switch","name":"Coming or going?","property":"payload","rules":[{"t":"cont","v":"COMPANY"},{"t":"cont","v":"ALONE"}],"checkall":"true","outputs":2,"x":327.1428527832031,"y":166.14285850524902,"z":"6b6420fc.949be","wires":[["14cfe665.eb301a","3d211ddd.c2dee2"],["403ee1e.fbfc12","3297397a.cd68c6"]]},{"id":"6aeef1ef.95111","type":"function","name":"Say Hello","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"HELLO\"\nreturn msg;","outputs":1,"x":549.8572387695312,"y":549.5714302062988,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884"]]},{"id":"9e77c3c2.61884","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":1094.428565979004,"y":428.00003814697266,"z":"6b6420fc.949be","wires":[]},{"id":"ec2bb0d.f13d45","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":1100.0477294921875,"y":619.3809509277344,"z":"6b6420fc.949be","wires":[]},{"id":"14cfe665.eb301a","type":"function","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":586.2857055664062,"y":362.2856979370117,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","9661e5d6.699e18"]]},{"id":"9661e5d6.699e18","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":809.3927688598633,"y":297.0357241630554,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"3fc30d16.c03cf2","type":"function","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":585.7143020629883,"y":104.85713386535645,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","73052b03.8cfad4","40debe4a.bf214"]]},{"id":"a6c5c38e.593a4","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":779.7142333984375,"y":171.99999237060547,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"403ee1e.fbfc12","type":"function","name":"Skull neutral position","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVO_NEUTRAL\"\nreturn msg;","outputs":1,"x":537.2857284545898,"y":699.4285883903503,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","b08aa188.4f756"]]},{"id":"3297397a.cd68c6","type":"function","name":"Say Goodbye","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"GOODBYE\"\nreturn msg;","outputs":1,"x":554.2857513427734,"y":615.7142848968506,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884"]]},{"id":"b08aa188.4f756","type":"function","name":"Skull Talk","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":534.2857262747627,"y":778.5714294569832,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","73052b03.8cfad4"]]},{"id":"c923c103.36dc4","type":"inject","name":"Has company","topic":"","payload":"HAS_COMPANY","payloadType":"string","repeat":"","crontab":"","once":false,"x":104.28571701049805,"y":202.85713005065918,"z":"6b6420fc.949be","wires":[["7b72cb4.f848d34"]]},{"id":"b1c29a9f.4e3d68","type":"inject","name":"Is Alone","topic":"","payload":"IS_ALONE","payloadType":"string","repeat":"","crontab":"","once":false,"x":92.85713577270508,"y":270.00000381469727,"z":"6b6420fc.949be","wires":[["7b72cb4.f848d34"]]},{"id":"3d211ddd.c2dee2","type":"delay","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":569.9999732971191,"y":38.57142162322998,"z":"6b6420fc.949be","wires":[["6aeef1ef.95111","3fc30d16.c03cf2"]]},{"id":"fd7fc719.028038","type":"mqtt in","name":"","topic":"/minecraft/+/block/#","broker":"bdf988ea.420678","x":98.57142639160156,"y":861.4285831451416,"z":"6b6420fc.949be","wires":[["48e66f62.b7199"]]},{"id":"a43c4e90.5bc3b","type":"function","name":"Say Doh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"DOH\"\nreturn msg;","outputs":1,"x":545.7142857142857,"y":878.5714285714284,"z":"6b6420fc.949be","wires":[["9e77c3c2.61884","40debe4a.bf214"]]},{"id":"cfef43dd.3010c","type":"function","name":"Skull shout","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,1,1\"\nreturn msg;","outputs":1,"x":554.2857131958008,"y":941.4285383224487,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45","59a9c827.a65638","f19af68f.0e6508"]]},{"id":"952bb36d.6ad45","type":"inject","name":"Break block","topic":"","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":108.5714340209961,"y":793.0952663421631,"z":"6b6420fc.949be","wires":[["48e66f62.b7199"]]},{"id":"99e72c16.6618d","type":"mqtt in","name":"","topic":"/minecraft/+/lever/#","broker":"bdf988ea.420678","x":142.8571434020996,"y":91.42857456207275,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"89c0cc60.763f3","type":"function","name":"Which Eye & Pos","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar cmd=\"LED, 1,\";\nif(msg.topic.indexOf(\"249\")>0){\n\tcmd=\"LED, 0,\";\n}\n\nmsg.payload=cmd.concat(msg.payload);\n\nreturn msg;","outputs":1,"x":407.1428527832031,"y":91.42856025695801,"z":"472cf557.b8d30c","wires":[["82f97609.7d0688"]]},{"id":"82f97609.7d0688","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":985.7143096923828,"y":172.85713577270508,"z":"472cf557.b8d30c","wires":[]},{"id":"af9be54b.506418","type":"inject","name":"one eye on","topic":"/minecraft/world/lever/249","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28571428571428,"y":172.85714285714283,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"ce79f738.318608","type":"inject","name":"one eye off","topic":"/minecraft/world/lever/249","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":144.28572463989258,"y":205.71428871154785,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"aee10d4e.511ef","type":"inject","name":"Other eye on","topic":"/minecraft/world/lever/250","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429824829102,"y":240.0000171661377,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"73d7fb04.8c2804","type":"inject","name":"Other eye off","topic":"/minecraft/world/lever/250","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":145.71429061889648,"y":274.28571701049805,"z":"472cf557.b8d30c","wires":[["89c0cc60.763f3"]]},{"id":"d565bafe.2a9a48","type":"mqtt in","name":"","topic":"/minecraft/+/facetracker/#","broker":"bdf988ea.420678","x":151.4285659790039,"y":415.7142925262451,"z":"472cf557.b8d30c","wires":[["f6bc1ac5.0943e8"]]},{"id":"6ac5d78a.953a28","type":"function","name":"Translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n    var X=Math.floor(servoXMid-parts[0]*180);    // Allow for calibration\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    var Y=Math.floor(servoYMid-parts[1]*180-20);     // I subtract 20 since the skull is mounted with a low pitch\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\nreturn msg;","outputs":1,"x":745.7143440246582,"y":414.285737991333,"z":"472cf557.b8d30c","wires":[["82f97609.7d0688","58aa7d2e.a75584"]]},{"id":"f2174474.0de8b8","type":"inject","name":"leftup","topic":"/minecraft/world/facetracker/45,34","payload":"-0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.14285714285712,"y":521.4285714285713,"z":"472cf557.b8d30c","wires":[["f6bc1ac5.0943e8"]]},{"id":"5119103a.aee6f","type":"inject","name":"rightup","topic":"/minecraft/world/facetracker/45,34","payload":"0.5,0.5","payloadType":"string","repeat":"","crontab":"","once":false,"x":127.14285278320312,"y":591.4285697937012,"z":"472cf557.b8d30c","wires":[["f6bc1ac5.0943e8"]]},{"id":"5e52110f.a1adf","type":"function","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":356,"y":105.71427917480469,"z":"8086332d.7f79d","wires":[["b8eb4dc6.4714b"]]},{"id":"b8eb4dc6.4714b","type":"switch","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":589.2857055664062,"y":106.71427917480469,"z":"8086332d.7f79d","wires":[["7b381c64.84c7e4","6ae729b5.9518d8"]]},{"id":"57ae1ec.fa851e","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":513.9524536132812,"y":717.6666259765625,"z":"8086332d.7f79d","wires":[[]]},{"id":"f6bc1ac5.0943e8","type":"function","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":427.14288330078125,"y":414.2856979370117,"z":"472cf557.b8d30c","wires":[["265226cc.d9adda"]]},{"id":"265226cc.d9adda","type":"switch","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":601.4285430908203,"y":414.2857027053833,"z":"472cf557.b8d30c","wires":[["6ac5d78a.953a28"]]},{"id":"58aa7d2e.a75584","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":964.2856903076172,"y":412.8571447134018,"z":"472cf557.b8d30c","wires":[[]]},{"id":"7b72cb4.f848d34","type":"function","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":158.3333511352539,"y":385.00002574920654,"z":"6b6420fc.949be","wires":[["bef40875.410bf8"]]},{"id":"bef40875.410bf8","type":"switch","name":"OK to Run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":328.33334732055664,"y":386.6666841506958,"z":"6b6420fc.949be","wires":[["8b0a2955.74f5d8"]]},{"id":"59a9c827.a65638","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":1036.666648864746,"y":1034.9999961853027,"z":"6b6420fc.949be","wires":[[]]},{"id":"73052b03.8cfad4","type":"delay","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":973.333309173584,"y":821.6666831970215,"z":"6b6420fc.949be","wires":[["59a9c827.a65638"]]},{"id":"48e66f62.b7199","type":"function","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":334.99999237060547,"y":833.3333425521851,"z":"6b6420fc.949be","wires":[["d62bb4a5.29d448"]]},{"id":"d62bb4a5.29d448","type":"switch","name":"OK to Run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":363.33333333333326,"y":923.3333333333331,"z":"6b6420fc.949be","wires":[["a43c4e90.5bc3b","cfef43dd.3010c"]]},{"id":"f19af68f.0e6508","type":"function","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":681.6666666666665,"y":1038.3333333333333,"z":"6b6420fc.949be","wires":[["ec2bb0d.f13d45"]]},{"id":"225ea260.dda15e","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":699.2380752563477,"y":77.47620677947998,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7","8dde6f43.72219"]]},{"id":"a6118e76.59ee7","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":1048.0952644348145,"y":369.71425342559814,"z":"2520088d.dadff8","wires":[]},{"id":"2a59c6f2.d5a63a","type":"delay","name":"delay 1","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":401.4166603088379,"y":233.63095474243164,"z":"2520088d.dadff8","wires":[["4032e6c5.bfcd18","dffca824.200358","d8955aaa.276aa8","6598872e.9a6778"]]},{"id":"6598872e.9a6778","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":736.916633605957,"y":491.42859649658203,"z":"2520088d.dadff8","wires":[]},{"id":"4032e6c5.bfcd18","type":"function","name":"Jaw motion","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":684.8094635009766,"y":169.3333282470703,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"dffca824.200358","type":"delay","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":456.3809585571289,"y":402.21430015563965,"z":"2520088d.dadff8","wires":[["26accc47.d95334"]]},{"id":"26accc47.d95334","type":"function","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":662.5714416503906,"y":596.3810110092163,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"9820749b.67df88","type":"inject","name":"Laugh","topic":"","payload":"LAUGH","payloadType":"string","repeat":"","crontab":"","once":false,"x":106.6190414428711,"y":74.2380895614624,"z":"2520088d.dadff8","wires":[["2a59c6f2.d5a63a","225ea260.dda15e"]]},{"id":"d8955aaa.276aa8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":633.5237731933594,"y":282.80953788757324,"z":"2520088d.dadff8","wires":[["9739f5c9.68c608"]]},{"id":"9739f5c9.68c608","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":772.809497833252,"y":369.7142758369446,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"cee3743d.311c88","type":"function","name":"Translate","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\n//require('util');\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar parts=msg.payload.split(\",\");\n\nvar servoX=0.0;\nvar servoY=0.0;\n\n    var X=Math.floor(servoXMid-parts[0]*180);    // Allow for calibration\n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n    var Y=Math.floor(servoYMid-parts[1]*180-20);     // I subtract 20 since the skull is mounted with a low pitch\n    if(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\nreturn msg;","outputs":1,"x":785.523853302002,"y":705.5238437652588,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"fd08408a.02f7c","type":"inject","name":"","topic":"","payload":"GOODBYE","payloadType":"string","repeat":"","crontab":"","once":false,"x":107.14285659790039,"y":115,"z":"2520088d.dadff8","wires":[["2a59c6f2.d5a63a","225ea260.dda15e"]]},{"id":"ce85678c.317a98","type":"inject","name":"","topic":"","payload":"HELLO","payloadType":"string","repeat":"","crontab":"","once":false,"x":105.14284896850586,"y":173.99998474121094,"z":"2520088d.dadff8","wires":[["2a59c6f2.d5a63a","225ea260.dda15e"]]},{"id":"c40ca095.3bf36","type":"inject","name":"","topic":"","payload":"LEFT","payloadType":"string","repeat":"","crontab":"","once":false,"x":264.92859268188477,"y":607.5000095367432,"z":"2520088d.dadff8","wires":[["8a3009a0.75cff8"]]},{"id":"c12236b1.3eddc8","type":"inject","name":"","topic":"","payload":"RIGHT","payloadType":"string","repeat":"","crontab":"","once":false,"x":441.4523696899414,"y":606.1587612628937,"z":"2520088d.dadff8","wires":[["8a3009a0.75cff8"]]},{"id":"18606a78.e79f96","type":"inject","name":"","topic":"","payload":"UP","payloadType":"string","repeat":"","crontab":"","once":false,"x":338.7142677307129,"y":546.2500076293945,"z":"2520088d.dadff8","wires":[["8a3009a0.75cff8"]]},{"id":"64872c2e.9b78d4","type":"inject","name":"","topic":"","payload":"DOWN","payloadType":"string","repeat":"","crontab":"","once":false,"x":361.82541275024414,"y":665.2578830718994,"z":"2520088d.dadff8","wires":[["8a3009a0.75cff8"]]},{"id":"8dde6f43.72219","type":"debug","name":"","active":true,"complete":"true","x":1112.857177734375,"y":202.8571434020996,"z":"2520088d.dadff8","wires":[]},{"id":"8a3009a0.75cff8","type":"function","name":"moveskull","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nvar    servoXMin=200; // 13 The commented numbers are for the old pan/tilt set\nvar    servoXMax=520; // 133\nvar    servoXMid=360; // 73\nvar    servoYMin=235; // 33\nvar     servoYMax=520; // 80\nvar    servoYMid=320; // 65\n\nvar servoX=0.0;\nvar servoY=0.0;\n\nvar X=context.global.servoX;  \nvar Y=context.global.servoY;\n\n// Do the changes that the command suggests\nif(msg.payload==\"UP\")\n\tY=Y-20; \nif(msg.payload==\"DOWN\")\n\tY=Y+20; \nif(msg.payload==\"LEFT\")\n\tX=X+20; \nif(msg.payload==\"RIGHT\") \n\tX=X-20; \n\n    \n    if(X<servoXMin)                 \t  // The skull is heavy. not too big turns\n        servoX=servoXMin;\n    else if (X>servoXMax)\n        servoX=servoXMax;\n    else\n        servoX=X;\n\n\tif(Y<servoYMin)                 \t\t // The skull is heavy. Not too big pitch\n        servoY=servoYMin;\n    else if (Y>servoYMax)\n        servoY=servoYMax;\n    else\n        servoY=Y;\n\ncontext.global.servoY=servoY;\ncontext.global.servoX=servoX;\n\nmsg.payload=util.format(\"SERVOS_MOVE,%d,%d,3\",servoX,servoY);\n\n\nreturn msg;","outputs":1,"x":741.1111111111111,"y":797.7777777777777,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"5475749.fab8a8c","type":"inject","name":"LEDS_ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":293,"z":"2520088d.dadff8","wires":[["9739f5c9.68c608"]]},{"id":"8567748a.7a9888","type":"inject","name":"LEDS_OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":350,"z":"2520088d.dadff8","wires":[["26accc47.d95334"]]},{"id":"28106934.d7ef96","type":"inject","name":"blink eyes","topic":"","payload":"BLINK,9","payloadType":"string","repeat":"","crontab":"","once":false,"x":98.88888549804688,"y":517.7777919769287,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"44ca7511.bb358c","type":"inject","name":"Clouse mouth","topic":"","payload":"JAW_POSITION,0","payloadType":"string","repeat":"","crontab":"","once":false,"x":118.75,"y":681.2500085830688,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"957206dc.6a8df8","type":"inject","name":"Open mouth","topic":"","payload":"JAW_POSITION,1","payloadType":"string","repeat":"","crontab":"","once":false,"x":113.75,"y":746.2500114440918,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"1bb9202d.e446e","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":582.0158729553223,"y":266.9206314086914,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"efe7df8f.10182","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":140.87300872802734,"y":273.7301425933838,"z":"492f9080.b6d07","wires":[["26dafeb5.d92502","5c22f531.a3dd0c"]]},{"id":"f221d5e3.0dde28","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":798.0952835083008,"y":458.04759788513184,"z":"492f9080.b6d07","wires":[]},{"id":"26dafeb5.d92502","type":"delay","name":"delay 2","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":110.44445037841797,"y":448.4920597076416,"z":"492f9080.b6d07","wires":[["76873223.8978cc","c2c911db.3d36f","e37ac603.1c8538","3e1a37a.fc1e5c8"]]},{"id":"76873223.8978cc","type":"function","name":"laugh","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LAUGH\";\n\nreturn msg;","outputs":1,"x":183.58729553222656,"y":653.4920835494995,"z":"492f9080.b6d07","wires":[["207cb3f3.df834c"]]},{"id":"207cb3f3.df834c","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":348.4444580078125,"y":599.2063617706299,"z":"492f9080.b6d07","wires":[]},{"id":"c2c911db.3d36f","type":"function","name":"Jaw motion","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"JAW_MOTION,4,1\"\nreturn msg;","outputs":1,"x":357.58728790283203,"y":448.777774810791,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"e37ac603.1c8538","type":"delay","name":"","pauseType":"delay","timeout":"3500","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":104.15873718261719,"y":727.4920301437378,"z":"492f9080.b6d07","wires":[["7b1dacb7.84e254","dceef111.23111"]]},{"id":"7b1dacb7.84e254","type":"function","name":"Turn Back","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"SERVOS_MOVE, 360, 320, 7\"\nreturn msg;","outputs":1,"x":307.44446182250977,"y":726.7777442932129,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"dceef111.23111","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":106.30159378051758,"y":873.9206256866455,"z":"492f9080.b6d07","wires":[["fe3843f3.01c7c","a9bebf.ff56414"]]},{"id":"fe3843f3.01c7c","type":"function","name":"LEDs OFF","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_OFF\"\nreturn msg;","outputs":1,"x":302.0158853530884,"y":822.4920892715454,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"4f52a930.b0ad58","type":"inject","name":"Start","topic":"/arduino/2/sonar","payload":"ping: 29","payloadType":"string","repeat":"","crontab":"","once":false,"x":122.17461013793945,"y":43.126983642578125,"z":"492f9080.b6d07","wires":[["b1f44478.4e0bb8"]]},{"id":"3e1a37a.fc1e5c8","type":"delay","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":266.30157470703125,"y":523.9206314086914,"z":"492f9080.b6d07","wires":[["20cfb83.fdf3048"]]},{"id":"20cfb83.fdf3048","type":"function","name":"LEDs ON","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.payload=\"LEDS_ON\"\nreturn msg;","outputs":1,"x":410.5873031616211,"y":522.4920601844788,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"5c22f531.a3dd0c","type":"function","name":"Turn","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\nif(context.turn==\"left\") {\n\tcontext.turn=\"right\";\n\tmsg.payload=\"SERVOS_MOVE, 550, 235, 15\";\n} else {\n\tcontext.turn=\"left\";\n\tmsg.payload=\"SERVOS_MOVE, 200, 235, 15\"\n}\n\nreturn msg;","outputs":1,"x":358.6825752258301,"y":372.6507968902588,"z":"492f9080.b6d07","wires":[["f221d5e3.0dde28"]]},{"id":"b1f44478.4e0bb8","type":"function","name":"test and set busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nif (typeof context.global.busy === \"undefined\") {\n\tcontext.global.busy=true;\n\tmsg.freeToRun=true;\n} else {\n\tif(context.global.busy){\n\t\tmsg.freeToRun=false;\t\t\t// prevent further execution\n\t} else {\n\t\tcontext.global.busy=true;\n\t\tmsg.freeToRun=true;\n\t}\n}\nreturn msg;","outputs":1,"x":343.4444351196289,"y":109.3174467086792,"z":"492f9080.b6d07","wires":[["b32fdec2.4cd02"]]},{"id":"b32fdec2.4cd02","type":"switch","name":"Ok to run?","property":"freeToRun","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":567.7301559448242,"y":128.20634174346924,"z":"492f9080.b6d07","wires":[["efe7df8f.10182","1bb9202d.e446e"]]},{"id":"a9bebf.ff56414","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":639.3968734741211,"y":869.158670425415,"z":"492f9080.b6d07","wires":[["fe3843f3.01c7c","e14fcaf8.1eb038"]]},{"id":"e14fcaf8.1eb038","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":709.9999465942383,"y":648.8888740539551,"z":"492f9080.b6d07","wires":[["b1f44478.4e0bb8"]]},{"id":"ced97696.312688","type":"inject","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118.88887405395508,"y":92.22223281860352,"z":"492f9080.b6d07","wires":[["4950dab6.b6af24"]]},{"id":"4950dab6.b6af24","type":"function","name":"setstop","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {}; \n// \n\ncontext.global.busy=true;\nreturn msg;","outputs":1,"x":504.4444274902344,"y":50,"z":"492f9080.b6d07","wires":[["f6c12fe3.093ed"]]},{"id":"f6c12fe3.093ed","type":"delay","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":695.5555839538574,"y":73.33333969116211,"z":"492f9080.b6d07","wires":[["42b00d37.bd4ff4"]]},{"id":"42b00d37.bd4ff4","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":813.3333492279053,"y":172.22222137451172,"z":"492f9080.b6d07","wires":[[]]},{"id":"645e5b01.9ba1a4","type":"inject","name":"Not busy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":417,"z":"2520088d.dadff8","wires":[["2dbd4d23.d242b2"]]},{"id":"2dbd4d23.d242b2","type":"function","name":"set not busy","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\ncontext.global.busy=false;\nreturn msg;","outputs":1,"x":258,"y":451,"z":"2520088d.dadff8","wires":[[]]},{"id":"40debe4a.bf214","type":"delay","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":592,"y":179,"z":"6b6420fc.949be","wires":[["a6c5c38e.593a4"]]},{"id":"d3c51821.2c3ae8","type":"mqtt in","name":"","topic":"/arduino/2/sonar","broker":"bdf988ea.420678","x":97,"y":89.33333110809326,"z":"607137ef.9f8ec8","wires":[[]]},{"id":"87bca396.78436","type":"debug","name":"","active":true,"complete":false,"x":712.5,"y":175.25,"z":"607137ef.9f8ec8","wires":[]},{"id":"8d690977.7296f8","type":"inject","name":"Ping: 29","topic":"","payload":"Ping: 29","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":153,"z":"607137ef.9f8ec8","wires":[["4e3ea691.b1c158"]]},{"id":"4e3ea691.b1c158","type":"change","action":"change","property":"payload","from":"Ping:","to":"","reg":false,"name":"Strip text","x":372.77777099609375,"y":118.33334350585938,"z":"607137ef.9f8ec8","wires":[["ef83b101.107c5"]]},{"id":"3da4723a.c25b8e","type":"change","action":"change","property":"payload","from":"Ping:","to":"","reg":false,"name":"Strip text","x":336,"y":37,"z":"8086332d.7f79d","wires":[["f99edcd9.06612"]]},{"id":"ef83b101.107c5","type":"switch","name":"","property":"payload","rules":[{"t":"lt","v":10,"v2":0},{"t":"lt","v":30,"v2":0}],"checkall":"false","outputs":2,"x":459,"y":256,"z":"607137ef.9f8ec8","wires":[["7b21d969.84de28"],["8b4fc5ed.74b038"]]},{"id":"d1f0e1d4.2e0f2","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":743,"y":266,"z":"607137ef.9f8ec8","wires":[]},{"id":"7b21d969.84de28","type":"template","name":"Jaw motion","template":"JAW_MOTION,{{payload}},1","x":463,"y":401,"z":"607137ef.9f8ec8","wires":[["d1f0e1d4.2e0f2"]]},{"id":"edd85c03.1227a","type":"inject","name":"","topic":"","payload":"Ping: 3","payloadType":"string","repeat":"","crontab":"","once":false,"x":110,"y":266,"z":"607137ef.9f8ec8","wires":[["4e3ea691.b1c158"]]},{"id":"8b4fc5ed.74b038","type":"change","action":"replace","property":"payload","from":"","to":"DOH","reg":false,"name":"DOH","x":555,"y":60,"z":"607137ef.9f8ec8","wires":[["5690983c.a96f68"]]},{"id":"b1cfb8de.4e3048","type":"change","action":"replace","property":"payload","from":"","to":"BLINK","reg":false,"name":"BLINK","x":440,"y":492,"z":"607137ef.9f8ec8","wires":[[]]},{"id":"5690983c.a96f68","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":745,"y":88,"z":"607137ef.9f8ec8","wires":[]},{"id":"55fae060.aa052","type":"change","action":"replace","property":"payload","from":"","to":"SERVOS_MOVE, 500, 235, 10","reg":false,"name":"Turn right","x":384,"y":215,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"b71c8a3c.48e378","type":"change","action":"replace","property":"payload","from":"","to":"SERVOS_MOVE, 220, 240, 10","reg":false,"name":"Turn left","x":384.77777099609375,"y":284.77777099609375,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"1815759a.e7ea8a","type":"change","action":"replace","property":"payload","from":"","to":"JAW_MOTION,4,1","reg":false,"name":"Jaw motions","x":389.1111145019531,"y":351.4444580078125,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"1b884c2d.e477b4","type":"change","action":"replace","property":"payload","from":"","to":"LAUGH","reg":false,"name":"LAUGH","x":236.99999237060547,"y":563.142822265625,"z":"8086332d.7f79d","wires":[["1a1ba421.e5e45c"]]},{"id":"da39bcd.f25c64","type":"change","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"name":"LEDS_ON","x":434,"y":460.4285888671875,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"6ae729b5.9518d8","type":"change","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"name":"LEDS_ON","x":701.1428833007812,"y":222.57142639160156,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"63b6b0ae.9c495","type":"change","action":"replace","property":"payload","from":"","to":"SERVOS_MOVE, 360, 320, 10","reg":false,"name":"Turn back","x":328.6667022705078,"y":632.3333129882812,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"46499f06.b9b66","type":"change","action":"replace","property":"payload","from":"","to":"LEDS_OFF","reg":false,"name":"LEDS_OFF","x":332.9999694824219,"y":679.3333129882812,"z":"8086332d.7f79d","wires":[["71c90ff6.8e36f"]]},{"id":"d7da8f35.28257","type":"inject","name":"","topic":"","payload":"Ping: 20","payloadType":"string","repeat":"","crontab":"","once":false,"x":151.25001525878906,"y":262.5000047683716,"z":"d16e35ef.2e91c8","wires":[[]]},{"id":"94078b1f.6bf878","type":"mqtt in","name":"","topic":"/arduino/2/sonar","broker":"bdf988ea.420678","x":129.25001525878906,"y":74,"z":"d16e35ef.2e91c8","wires":[[]]},{"id":"23f8d26b.dc072e","type":"debug","name":"","active":true,"complete":false,"x":603,"y":76.25,"z":"d16e35ef.2e91c8","wires":[]},{"id":"8f3d34c7.70c2c8","type":"change","action":"change","property":"payload","from":"Ping:","to":"","reg":false,"name":"","x":400.5,"y":174,"z":"d16e35ef.2e91c8","wires":[["80d6d4d3.7f2928"]]},{"id":"80d6d4d3.7f2928","type":"switch","name":"","property":"payload","rules":[{"t":"lt","v":10,"v2":0},{"t":"lt","v":30,"v2":0}],"checkall":"false","outputs":2,"x":372.00006103515625,"y":281.25,"z":"d16e35ef.2e91c8","wires":[["9b787709.648788"],[]]},{"id":"a1b99b3f.5e4668","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":662,"y":245.75,"z":"d16e35ef.2e91c8","wires":[]},{"id":"9df5761.f620a88","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":672.75,"y":388.25,"z":"d16e35ef.2e91c8","wires":[]},{"id":"cfe016e8.301fe8","type":"inject","name":"Homer","topic":"","payload":"DOH","payloadType":"string","repeat":"","crontab":"","once":false,"x":161.25001907348633,"y":406.2500066757202,"z":"d16e35ef.2e91c8","wires":[[]]},{"id":"5f47f3d1.a0b80c","type":"template","name":"Jaw Motion","template":"JAW_MOTION,{{payload}},1","x":684,"y":519.25,"z":"d16e35ef.2e91c8","wires":[[]]},{"id":"9b787709.648788","type":"change","action":"replace","property":"payload","from":"","to":"BLINK","reg":false,"name":"","x":330,"y":518,"z":"d16e35ef.2e91c8","wires":[["a1b99b3f.5e4668"]]},{"id":"ba292a43.45d6d8","type":"inject","name":"","topic":"Ping: 9","payload":"","payloadType":"string","repeat":"","crontab":"","once":false,"x":153.75,"y":325,"z":"d16e35ef.2e91c8","wires":[[]]},{"id":"2826b3eb.d7d94c","type":"inject","name":"right","topic":"","payload":"LED,1,1","payloadType":"string","repeat":"","crontab":"","once":false,"x":107,"y":583,"z":"2520088d.dadff8","wires":[["a6118e76.59ee7"]]},{"id":"65ff3e3.f9a00c","type":"mqtt in","name":"","topic":"/arduino/2/remote","broker":"bdf988ea.420678","x":90,"y":50,"z":"82f652da.7d09b","wires":[["36a3c156.c95c3e"]]},{"id":"e783e6d7.187c18","type":"debug","name":"","active":true,"complete":false,"x":614,"y":91,"z":"82f652da.7d09b","wires":[]},{"id":"36a3c156.c95c3e","type":"change","action":"change","property":"payload","from":"Remote:","to":"","reg":false,"name":"","x":134,"y":139,"z":"82f652da.7d09b","wires":[["c99b758.f366488","e783e6d7.187c18"]]},{"id":"c99b758.f366488","type":"switch","name":"","property":"payload","rules":[{"t":"regex","v":"FFFFFFFF"},{"t":"regex","v":"FDA05F"},{"t":"regex","v":"FD08F7"},{"t":"regex","v":"FD8877"}],"checkall":"true","outputs":4,"x":109,"y":226,"z":"82f652da.7d09b","wires":[[],["e783e6d7.187c18","f5836556.0a7c98","88e3e5c2.771c18"],["f80100f4.07ff"],["92f97d64.6d068"]]},{"id":"9235325b.6dcad","type":"mqtt out","name":"","topic":"/arduino/1/incoming","broker":"bdf988ea.420678","x":660,"y":297,"z":"82f652da.7d09b","wires":[]},{"id":"281fe397.d7e01c","type":"mqtt out","name":"","topic":"/raspberry/1/incoming","broker":"bdf988ea.420678","x":650,"y":414,"z":"82f652da.7d09b","wires":[]},{"id":"f5836556.0a7c98","type":"delay","name":"Laugh","pauseType":"delay","timeout":"2","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":168,"y":365,"z":"82f652da.7d09b","wires":[["7806ee12.87f91","40f104ee.bf0efc"]]},{"id":"7806ee12.87f91","type":"change","action":"replace","property":"payload","from":"","to":"JAW_MOTION,4,1","reg":false,"name":"Jaw motions","x":382.8254089355469,"y":294.4444580078125,"z":"82f652da.7d09b","wires":[["9235325b.6dcad"]]},{"id":"40f104ee.bf0efc","type":"change","action":"replace","property":"payload","from":"","to":"LAUGH","reg":false,"name":"LAUGH","x":372.7142639160156,"y":353.142822265625,"z":"82f652da.7d09b","wires":[["281fe397.d7e01c"]]},{"id":"88e3e5c2.771c18","type":"change","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"name":"","x":557,"y":210,"z":"82f652da.7d09b","wires":[["9235325b.6dcad"]]},{"id":"fc379971.03c868","type":"change","action":"replace","property":"payload","from":"","to":"JAW_MOTION,1,1","reg":false,"name":"onejaw","x":370,"y":450,"z":"82f652da.7d09b","wires":[["9235325b.6dcad"]]},{"id":"f80100f4.07ff","type":"delay","name":"Doh","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","x":160,"y":472,"z":"82f652da.7d09b","wires":[["fc379971.03c868","85b3faa3.7a4c08"]]},{"id":"85b3faa3.7a4c08","type":"change","action":"replace","property":"payload","from":"","to":"DOH","reg":false,"name":"DOH","x":369,"y":505,"z":"82f652da.7d09b","wires":[["281fe397.d7e01c"]]},{"id":"92f97d64.6d068","type":"change","action":"replace","property":"payload","from":"","to":"LEDS_ON","reg":false,"name":"LEDS_ON","x":382,"y":600,"z":"82f652da.7d09b","wires":[["9235325b.6dcad"]]}]